<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.moprim.sensing.service">

    <application>
        <service
            android:name=".AbstractMobilitySensorService"
            android:enabled="false"
            android:exported="false"></service>
    </application>

</manifest>